SELECT [User]
,[Activity]
,dateadd(HH, datediff(HH, getutcdate(), getdate()), [Time Started]) as 'TimeStartedCET'
,dateadd(HH, datediff(HH, getutcdate(), getdate()), [Time Ended]) as 'TimeEndedCET'
, DATEDIFF(MINUTE, [Time Started], [Time Ended]) 'Duration'
,[Server]
,[Descrition]
FROM [fm_prod_readerviews].[dbo].[vTaskAudit_ABACUS09_Log]
where [Time Started] > '2022-05-19 07:00' and [Time Started] < '2022-05-21 12:00' --UTC time
--and Activity = 'Consolidation'
and DATEDIFF(MINUTE, [Time Started], [Time Ended]) > 1
and
[Server]='XE-S-HFMAP03P' --and [User]='CHAAHFM@ABB_AD'
-- and Descrition like 'Consolidation Completed%'
--and DATEDIFF(MINUTE, [Time Started], [Time Ended]) > 0
--and [User] like '%PLARPIE%'



--order by [Time Started]