SELECT DISTINCT cast([BLOBData] as nvarchar), BLOBData
FROM [fm_prd].[dbo].[ABACUS13_USERPARAMS]
WHERE ParameterKey like '%HsvSystemInfo_Cluster%'

SELECT [Username]
      ,[EntryIDX]
      ,[ParameterKey]
      ,cast([BLOBData] as nvarchar)
	  ,BLOBData
  FROM [fm_prd].[dbo].[ABACUS13_USERPARAMS]
  --WHERE Username like '%CHTOMAS%'
  WHERE ParameterKey like '%HsvSystemInfo_Cluster%' and BLOBData = 0x48005100480046004D00