USE fm_prd
GO

SELECT HSV_ACTIVITY_USERS.SUSERNAME
	,HSV_USERS_ON_SYSTEM.SAPPNAME
	,HSV_USERS_ON_SYSTEM.SSERVERNAME
	,HSV_USERS_ON_SYSTEM.LSESSIONSTATUS
	,HSV_USERS_ON_SYSTEM.SMODULENAME
	,HSV_USERS_ON_SYSTEM.DSTARTTIME
FROM [dbo].[HSV_USERS_ON_SYSTEM]
INNER JOIN HSV_ACTIVITY_USERS ON [HSV_USERS_ON_SYSTEM].LUSERID=[HSV_ACTIVITY_USERS].LUSERID
WHERE SSERVERNAME LIKE '%AP01P%'
--SELECT COUNT(1) as Ussers FROM [dbo].[HSV_USERS_ON_SYSTEM] 