/****** Script for SelectTopNRows command from SSMS  ******/
Declare @dateFrom as datetime = '2021-07-01 07:00' -- UTC time
Declare @dateTo as datetime = '2021-12-13 00:01'-- UTC time
SELECT [User]
      ,[Activity]
      --,[ActivityCode]
      ,[Time Started]
      ,[Time Ended]
      ,[Server]
	  ,DATEDIFF(MINUTE, [Time Started], [Time Ended]) 'Duration' 
      ,[Descrition]
      --,[Current Module]
  FROM [fm_prod_readerviews].[dbo].[vTaskAudit_ABACUS08_Log]
  where [Time Started] > @dateFrom and [Time Started] < @dateTo --UTC time
  and [ActivityCode] = 4
  and DATEDIFF(MINUTE, [Time Started], [Time Ended]) > 10
  --WHERE ActivityCode = 4 AND [Time Started] > '2021-12-01 20:00:00.703' AND DATEDIFF(minute,[Time Started],[Time Ended]) > 10
  ORDER BY 'Duration' DESC;
